body {
    margin:0 ;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0; /* デフォルトのマージンを削除 */
    padding: 10px; /* 必要に応じてパディングを追加 */
    background-color: #f0f0f0; /* バックグラウンドカラー（任意） */
    text-align: center; /* 中央揃え（任意） */
}

/* leaflet */
.leaflet-popup-content-wrapper {
    max-width: 300px; /* ポップアップの最大横幅を設定 */
}

.leaflet-popup-content h3 {
    color: blue; /* タイトルの文字色を青に変更 */
}
  
  .leaflet-popup-content p {
    color: green; /* パラグラフの文字色を緑に変更 */
}


.popup-photo {
    max-height: 250px;
    width: auto;
}